
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 100%);
    padding: 20px;
}

.container {
    max-width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 20px 10px hsl(221, 100%, 96%);
    border-radius: 20px;
}
.result-Dashboard{
    background:linear-gradient(0deg,hsl(241, 80%, 54%),
        hsl(252, 100%, 67%)) ;
    padding:30px 40px 40px;
    border-radius: 20px;
}
.result-text{
    text-align: center;
    color: hsl(0, 0%, 86%);
    margin-bottom: 20px;
    font-size: 14px;
}
.circular-container{
    height: 120px;
    max-width: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,hsla(241, 72%, 46%, 0),hsla(256, 72%, 46%, 1));
    border-radius: 50%;
    margin-bottom: 20px;
}
.circular-container  h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 40px;
}
.circular-container span{
    font-size: 11px ;
    color:hsla(0, 0%, 100%, 0.4);
    font-weight: 700;
}
.great-text{
    color: hsl(221, 100%, 96%);
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.para{
    color:hsla(0, 0%, 100%, 0.439) ;
    text-align: center;
    font-size: 14px;
}
.summary_board{
    display: flex;
    flex-direction: column;
    padding:30px 20px;
}
.summary_board h1{
    font-size: 16px;
    margin-bottom: 16px;
}
.summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.Reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
}
.Memory{
    background-color: hsla(39, 100%, 56%, 0.1);
}
.Verbal{
    background: hsla(166, 100%, 37%, 0.063);
}
.Visual{
    background-color: hsla(234, 85%, 45%, 0.05);
}
.Reaction .icon-subject h2{
    color: hsl(0, 100%, 67%);
}
.Memory .icon-subject h2 {
    color: hsl(39, 100%, 56%);
}
.Verbal .icon-subject h2 {
    color: hsl(166, 100%, 37%);
}
.Visual .icon-subject h2 {
    color: hsl(234, 85%, 45%);
}
.icon-subject{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-subject h2{
    font-size: 12px;
}
.score{
    font-size:13px ;
}
.score span{
    font-size: 12px;
    color: hsl(240, 2%, 65%);
}
.continue-btn{
    margin-top: 20px;
    padding: 10px;
    background: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: none;
}
.continue-btn:hover{
    background:linear-gradient(0deg,hsl(234, 85%, 45%),hsla(256, 72%, 46%, 1));
    cursor: pointer;
}
@media screen and (max-width:514px) {
    main{
        display: block;
        padding: 0;
    }
    .container{
        width: 100%;
        grid-template-columns: auto;
        box-shadow: none;
    }
    .result-Dashboard{
        border-radius: 0px 0px 20px 20px;
    }
    .para{
        font-size: 18px;
    }
}